.centerContainer {
	position: fixed;
	margin-left: 10%;
	margin-top: 80px;
	margin-bottom: 15px;
	width: 80%;
	height: 90%;
	background-color: #CAE4DB;
	border: 2px solid #7A9D96;
	color: #00303F;
	padding: 18px;
	overflow-y: scroll;
}

.tabel {
	border-collapse: collapse;
	width: 100%;
}

.tabel th, td {
	text-align: left;
	padding: 8px;
}

.tabel tr:nth-child(even) {
	background-color: #f0f0f0;
}
.tabel tr:nth-child(odd) {
	background-color: #fbfbfb;
}